/* classi utility */

.border1{
    border: 1px solid red !important;
}
.height{
    height:calc(100vh - 81px);
}

.brg-blu-scuro{
    background-color: rgb(4,30,52);
   
}
.brg-img{
    background-image:url(../img/sidebar-bg.png);
    opacity: 0.9;
}

.white{
    color: white;
}
/* hover */
.brg-hover:hover{
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1; 
    
}