/* classi utility */

.border1{
    border: 1px solid red !important;
}
.height{
    height:calc(100vh - 82px);
}

.brg-blu-scuro{
    background-color: rgb(36, 55, 123);
    background-image:url(../img/sidebar-bg.png);
    

    
}
.white{
    color: white;
}