/* classi utility */
main {
    margin-top: 50px;
}

.border1 {
    border: 1px solid red !important;
}

.brg-blu-scuro {
    background-color: rgb(4, 30, 52);

}

.brg-blu-scuro2 {
    background-color: rgb(22, 91, 186);
}

.brg-img {
    background-image: url(../img/sidebar-bg.png);
}

.white {
    color: white;
}

.z-index {
    z-index: 98;
}

.icons-end:last-child {
    display: flex;

}


.height-calc {
    height: calc(100vh - 50px) !important;
}

.altezza-fissa-header {
    height: 70px;
}


/* hover */
.brg-hover:hover {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;

}

/* form utente */

.border-white {
    border-radius: 0%;
}

@media screen and (max-width:768px){
    .larghezza-massima{
        width: 100% !important;
        
    }
}